<section>
  <h3>Our Pricing</h3>
  <article>
    <p><span>$</span><span>20</span>/one Day</p>
    <h4>REGULAR</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, accusantium.
    </p>
    <button type="button" class="btn btn-primary">Book Now</button>
  </article>
  <article>
    <p><span>$</span><span>20</span>/one Day</p>
    <h4>REGULAR</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, accusantium.
    </p>
    <button type="button" class="btn btn-primary">Book Now</button>
  </article>
  <article>
    <p><span>$</span><span>20</span>/one Day</p>
    <h4>REGULAR</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, accusantium.
    </p>
    <button type="button" class="btn btn-primary">Book Now</button>
  </article>
</section>
