---
import Layout from "../components/layout/index.astro";
import Banner from '../components/banner/index.astro'
import WhatWeDo from '../components/what-we-do/index.astro'
---

<Layout title="Home">
  <section>
    <h1>Home</h1>
  </section>
  <Banner />
  <WhatWeDo />
</Layout>

