<section>
  <form action="get">
    <label for="fullName">Full Name</label>
    <input type="text" name="fullName" id="fullName" placeholder="Full Name" />

    <label for="email">Email</label>
    <input type="text" name="email" id="email" placeholder="Email" />

    <label for="phoneNumber">Phone Number</label>
    <input
      type="text"
      name="phoneNumber"
      id="phoneNumber"
      placeholder="Phone Number"
    />

    <label for="message">Message</label>
    <textarea name="message" cols="30" rows="10" placeholder="Message"
    ></textarea>

    <input type="submit" value="Enviar formulario" />
  </form>
</section>
