---
import { titleOfPage } from "../../constants/strings.json";
---
<header>
    <nav>
        <!-- Usaremos una imagen vectorial como logo -->
        <a href="./">{titleOfPage}</a>
        <ul>
            <li><a href="./" title="Home">Home</a></li>
            <li><a href="./about" title="About">About</a></li>
            <li><a href="./what-we-do" title="What we do">What we do</a></li>
            <li><a href="./pricing" title="Pricing">Pricing</a></li>
            <li><a href="./contact" title="Contact Us">Contact Us</a></li>
        </ul>
        <ul>
            <li><a href="https://www.facebook.com/yourwebsite" title="Follow us on Facebook"></a></li>
            <li><a href="https://www.twitter.com/yourwebsite" title="Follow us on Twitter"></a></li>
            <li><a href="https://www.instagram.com/yourwebsite" title="Follow us on Instagram"></a></li>
            <li><a href="https://www.linkedin.com/yourwebsite" title="Follow us on LinkedIn"></a></li>
        </ul>
    </nav>
</header>