<section>
  <h3>About Us</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat rerum necessitatibus quaerat accusantium deserunt, inventore beatae aperiam ducimus nam repellat eius rem maxime! Quo delectus nihil, praesentium quod natus dolorum!
  </p>
  <button type="button" class="btn btn-primary">Read More</button>
  <img
    src="https://themewagon.github.io/milina/images/about.png"
    alt="About Us"
  />
</section>
