<footer>
  <section>
    <article>
      <h4>Useful Link</h4>
      <ul>
        <li><a href="./" title="Home">Home</a></li>
        <li><a href="./about" title="About">About</a></li>
        <li><a href="./what-we-do" title="What we do">What we do</a></li>
        <li><a href="./pricing" title="Pricing">Pricing</a></li>
        <li><a href="./contact" title="Contact Us">Contact Us</a></li>
      </ul>
    </article>
  </section>

  <section>
    <article>
      <div>
        <h5>About</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, quis veniam. Minima.
        </p>
      </div>

      <div>
        <h5>Nail Salon</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, quis veniam. Minima.
        </p>
      </div>
    </article>

    <article>
      <ul>
        <li>Direction 1234 - US, California</li>
        <li>+012334567890</li>
        <li>expample@emial.com</li>
      </ul>
    </article>

    <article>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5249.98325970342!2d2.294481!3d48.85837!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e2964e34e2d%3A0x8ddca9ee380ef7e0!2sEiffel%20Tower!5e0!3m2!1sen!2sus!4v1695597111128!5m2!1sen!2sus"
        width="400"
        height="300"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </article>
  </section>
</footer>
