<section>
  <h3>Meet Our Experts</h3>
  <article>
    <img src="" alt="Jacob" />
    <h4>Jacob</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </article>
  <article>
    <img src="" alt="Lonut" />
    <h4>Lonut</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </article>
  <article>
    <img src="" alt="Irina" />
    <h4>Irina</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </article>
  <button type="button" class="btn btn-primary">Read More</button>
</section>
