<section>
  <h2>What We Do</h2>
  <article>
    <img
      src="https://themewagon.github.io/milina/images/weicon1.png"
      alt="Nail Art"
    />
    <h5>Nail Art</h5>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
  </article>
  <article>
    <img
      src="https://themewagon.github.io/milina/images/weicon2.png"
      alt="Manicure"
    />
    <h5>Manicure</h5>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
  </article>
  <article>
    <img
      src="https://themewagon.github.io/milina/images/weicon3.png"
      alt="Pedicure"
    />
    <h5>Pedicure</h5>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
  </article>
  <article>
    <img
      src="https://themewagon.github.io/milina/images/weicon4.png"
      alt="Paraffin wax"
    />
    <h5>Paraffin wax</h5>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
  </article>
</section>
