<section class="banner">
  <div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
      <div class="carousel-item active" style={{width: '600px', heigth: '600px'}}>
        <img src="https://www.elegantweddinginvites.com/wedding-blog/wp-content/uploads/2020/07/beautiful-bridal-nails-for-your-wedding-look.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item" style={{width: '600px', heigth: '600px'}}>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToMjLNy5hkUaembI1Q9bzqptjhBTDRQRo0Tg&usqp=CAU" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item" style={{width: '600px', heigth: '600px'}}>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwi5oZKCVL_1aMahvLCBJn8ZjmfXQ_y2YGpw&usqp=CAU" class="d-block w-100" alt="..." />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden" title="Previous">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden" title="Next">Next</span>
    </button>
  </div>
</section>
